.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    max-width: 600px;
    min-height: 400px;
    margin:50px auto; /* centers the container */
    padding: 60px 10px;
}

.img{
    height:150px;
    width :150px;
    border-radius:50%;
    margin: 0 auto 9px; /* centers the image */
    object-fit:cover ;
    display: block;
}

.button-container{
    display: flex;
    gap: 10px;
    justify-content:center; /* Centers the buttons */
    align-items: center;
    margin-top:20px;
}

.follow-button{
    background-color : rgb(242, 70, 70);
    color : white;
    border: 0;
    text-align: center;
    color: white;
    border-radius: 10px;
    line-height: 2;
    padding: 5px 12px;
    
}
.dropdown-button:hover{
    background: #7b93ad;
}
.message-button{
    background-color : rgb(162, 155, 155);
    border: 0;
    border-radius: 10px;
    color : white;
    line-height: 2;
    padding: 5px 10px;
}

.dropdown-button{
    background-color : rgb(162, 155, 155);
    border: 0;
    border-radius: 13px;
    color : black;
    line-height: 1.7;
    transition: background 0.3s;
    cursor: pointer;
}

